html,
body,
#root {
  height: 100%;
}

body {
  background-color: white;
}

/* Check if system is in dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1f1f1f;
    color: #cfcfcf;
  }
}
